{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  {% trans %}404 - Not Found{% endtrans %}
{% endblock %}

{% block header_title %}
        {% trans %}Posts{% endtrans %}
{% endblock %}

{% block extra_nav %}
  {{ macros.nav_menu('blog', user_id) }}
{% endblock %}


{% block header_title_lead %}
    <h1>That's a 404 there partner.</h1>
{% endblock %}

{% block content %}
    <p class="lead">
        Something has gone slightly or horribly wrong.  Slathering noises ensue.  If you think it's serious, use the <a href="/contact">contact</a> form to holler at me and I'll take a look.  Otherwise, head on <a href="/">back home</a> and enjoy your stay!</p>
    <p class="lead">Cheers,</p>
    <p class="lead">Kord Campbell</a>

    {% if messages|safe %}
        {% for message in messages %}
        <p class="alert alert-{{ message[1]|safe }}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message[0]|safe }}
        </p>
        {% endfor %}
    {% endif %}
{% endblock %}